<!DOCTYPE html>
<html>
      <head>
            <title>Home Page</title>
            <link rel="stylesheet" href="stylesheets/fonts.css" />
            <link rel="stylesheet" href="stylesheets/home.css" />
            <link rel="stylesheet" href="stylesheets/header.css" />
      </head>

      <body>
            <header id="header"><%- include("header.ejs") %></header>
            <div class="homeWrapper">
                  <div class="mainHeading">
                        Click on the user to get the their financial info
                  </div>
                  <div class="userCardWrapper">
                        <a href="/user/12">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>

                        <a href="/">
                              <div class="userCard">
                                    <div class="userImg">
                                          <img
                                                src="https://i.pravatar.cc/150?img=11"
                                                alt=""
                                          />
                                    </div>

                                    <div class="userDetails">
                                          <p>Sarthak Arora</p>
                                          <span>uid: 123456789011</span>
                                    </div>
                              </div>
                        </a>
                  </div>
            </div>

            <footer id="footer"><%- include("footer.ejs") %></footer>
      </body>
</html>
