
*{
    font-family: "noto";
    color: white;
}
html,body{
    height: 100%;
}
body{
    background-color: black;
    margin: 0;  
    overflow-x: hidden ;
}
::-webkit-scrollbar{
    width: 0;
}
.mainHeading{
    font-size: 2rem;

}
.homeWrapper{
    width: 90vw;
    margin: auto;
    padding-bottom: 80px;
    /* margin-top: 100px; */
}
.userCard{
    /* width:100%; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.userCardWrapper a{
    margin-bottom: 20px;
text-decoration: none;
}
.userImg{
    display: flex;
    margin-right: 20px;
}
.userImg img{
    width: 60px;
    border-radius: 10px;
}
.userDetails p{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.userCardWrapper{
    gap: 40px 80px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding-bottom: 40px; */
}

.userCard:hover{
    transform: translateY(-2px);
}